extends ./templates/template.jade

block vars
  - var page = 'page-index';

block content

  .wrapper

    .header
      .header__graphic.js-top
        img.header__logo.js-logo(src="frontend/dist/images/logo.png")
        .header__contact
          button.header__contact__button.js-button ⚡️ Find me here ⚡️
          .header__contact__dropdown.js-dropdown
            a(href="mailto:theodor.lindekaer@gmail.com", title="Email") Email
            a(href="https://github.com/lindekaer", target="_blank", title="Github") Github
            a(href="https://www.linkedin.com/in/theodor-c-listov-lindekaer-3289833b", target="_blank", title="LinkedIn") LinkedIn
            a(href="https://www.facebook.com/theodor.lindekaer", target="_blank", title="Facebook") Facebook
            a(href="https://twitter.com/lindekaer", target="_blank", title="Twitter") Twitter
            a(href="/about-me.html", target="_blank", title="Article about me") About me

      .header__search
        input.header__search__field.js-search(type="text", placeholder="Search")


    .article-grid.js-grid
      for article in articles.reverse()
        .article-grid__item.js-grid-item(data-title="#{article.title}")
          a.article-grid__item__card(href="#{article.slug}.html", class="category-#{article.category.toLowerCase()}")
            h2.article-grid__title #{article.title}
            p.article-grid__meta
              span(class="category") #{article.category}
              | #{article.date}

      .article-grid__no-results.hidden.js-no-results
        p.emoji 🤕
        p Nothing found, try something else
